.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-book {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  height: 90%;
  background-color: #e2d5d5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}
.card-book:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.img-book {
  max-width: 100%;
  height: auto; 
}

